*.suo
*.user
*.userosscache
*.sln.docstates
.vs
**/[Bb]in/
**/[Oo]bj/
**/[Dd]ebug/
**/[Rr]elease/
**/packages/*
**/_ReSharper.Caches/*
**/.temporary/*
**/.cache/*
**/.resources/*
**/AppPackages/
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
